.post{
    border-bottom: 1px solid #eee;
}
.post .row {
    margin-left: 0px;
}
.options {
    padding-left: 0px;
}
.post{
    word-wrap: break-word;
}
.toggle-comments{
    user-select:none;
    cursor: pointer;
    text-align: center;
    font-size:13px;
}
.toggle-comments + .comments{
    display: none;
}
.toggle-comments.active + .comments{
    display:block;
}